#title{
    background: url("sprite_sheet_text_300x100.png") 0px 0px;
}

#title:hover{
    background: url("sprite_sheet_text_300x100.png") -150px 0px;
}

.chrome .sprite{
    background: url("5_logos_500x100.png") -220px 0px;
}

.ie .sprite{
    background: url("5_logos_500x100.png") -440px 0px;
}

.safari .sprite{
    background: url("5_logos_500x100.png") 0px 0px;
}

.firefox .sprite{
    background: url("5_logos_500x100.png") -110px 0px;
}

.opera .sprite{
    background: url("5_logos_500x100.png") -330px 0px;
}