.image{
    background-color: red;
    float: right;
    height: 200px;
    width: 200px;
    border: 10px dashed blue;
    margin: 60px 20px 60px 20px;
    outline: 25px groove yellow;
    padding: 0px 0px 0px 0px;
}
